.biens-slider {
  .flickity-wrapper {
    .bien-item {
      width: 80%;

      .bien-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        padding: 20px;
        margin: 20px;

        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .title {
          font-size: 1.2em;
          font-weight: bold;
          color: #333;
        }
        .score {
          display: flex;
          gap: 5px;
        }
      }
      @media screen and (max-width: 999px) {
        width: 100%;
      }
    }
  }
}
