body,
html {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 576px) {
  h4 {
    font-size: 20px;
    margin: 0px;
    line-height: 28.8px;
    text-align: center;
  }
}

@media screen and (max-width: 405px) {
  h4 {
    font-size: 16px;
  }
}
