body,
html {
  margin: 0px;
  padding: 0px;
}

p {
  line-height: 30px;
}

#header-outer {
  box-shadow: 0 3px 45px rgba(0, 0, 0, 0.15) !important;
}

@media screen and (max-width: 576px) {
  header {
  }
}

@media screen and (max-width: 576px) {
  h4 {
    font-size: 20px;
    margin: 0px;
    line-height: 28.8px;
    text-align: center;
  }
}

@media screen and (max-width: 405px) {
  h4 {
    font-size: 16px;
  }
}
