.bien-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .search {
    display: flex;
    gap: 20px;

    input {
      height: 43px;
      background-color: white;
      border: 0px solid transparent;
      border-radius: 5px;
      padding: 0px 15px 0px 15px;
      font-size: 15px;
    }
    select {
      width: min-content;
      background-color: white;
      border-radius: 5px;
    }
    @media screen and (max-width: 999px) {
      flex-direction: column;
      select {
        width: 100%;
      }
    }
  }
  .wrapper {
    display: grid;
    gap: 30px;
    padding-top: 50px;

    .item {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: white;
      box-shadow: 0px 0px 1px 2px rgba(189, 135, 37, 0.9),
        0 0 1px 1px rgba(0, 0, 0, 0.75);

      .vente {
        background-color: white;
        color: #bd8725;
        font-weight: bold;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 0px;
        padding: 4px;
      }
      .img {
        aspect-ratio: 16/11;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 20px;

        .organizers {
          display: flex;
          gap: 10px;

          .organizer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 15px 0px 15px;
            background-color: #039f7f;
            color: white;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
      .content {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;

        .date {
          text-align: center;
          color: #039f7f;
          font-size: 14px;
        }
        .title {
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
          color: #000;
        }
        .description {
          text-align: center;
          color: #000;
          padding: 20px 0px 20px 0px;
        }

        .types {
          display: flex;
          gap: 10px;

          .type {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #bd8725;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
          }
        }
        .ville {
          font-weight: bold;
          font-size: 25px;
          padding-top: 3px;
        }
        .price {
        }
        .props {
          display: flex;
          justify-content: space-between;
          padding-top: 10px;

          .prop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            height: min-content;
            img {
              width: 22px;
              height: 22px;
              margin: 0px;
            }
            .value {
              flex: 1;
              font-size: 15px;
            }
          }
          @media screen and (max-width: 576px) {
            flex-direction: column;
          }
        }
      }
      &:hover {
      }
    }
    // Tablette Longeur
    @media screen and (max-width: 998px) {
      grid-template-columns: repeat(2, 1fr) !important;
    }
    // Mobile M
    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr !important;
      //margin-top: 150px;
      margin-top: 0px;
      //margin-bottom: 150px;
      margin-bottom: 0px;
    }
    // Mobile S
    @media screen and (max-width: 396px) {
      //margin-top: 136px;
      margin-top: 0px;
      //margin-bottom: 136px;
      margin-bottom: 0px;
    }
  }
  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: white;
    font-size: 24px;
  }
}
