.single-bien-style {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 30px;
  .img {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gallery {
    display: flex;
    gap: 40px;
    flex: 1;
    .mainImg {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imgs {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .img {
        aspect-ratio: 16/9;
      }
    }
    @media screen and (max-width: 576px) {
      gap: 5px;

      .imgs {
        gap: 5px;
      }
    }
  }
  .content {
    flex: 1;
    display: flex;
    gap: 40px;
    .infos {
      flex: 3;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #002a62;
      font-family: Cardo, serif;
      .bien-types {
        display: flex;
        .feature {
          color: #f9b319;
          font-size: 30px;
          font-weight: bold;
        }
      }
      .ville {
        font-weight: bold;
        font-size: 50px;
      }

      h3 {
        color: #002a62;
      }

      .composants {
        flex: 1;
        display: flex;
        gap: 40px;
        color: #000000;
        .propriete {
          flex: 3;
          display: flex;
          justify-content: space-between;
          gap: 20px;
          .prop {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            height: min-content;
            img {
              width: 30px;
              height: 30px;
            }
            .value {
              flex: 1;
            }
          }
        }
        .price {
          flex: 2;
          display: flex;
          justify-content: flex-end;
          font-weight: bold;
        }
        @media screen and (max-width: 576px) {
          flex-direction: column;
          gap: 15px;

          .price {
            justify-content: flex-start;
            font-size: 28px;
          }
        }
      }
      .features {
        h2 {
          font-size: 40px;
          font-weight: bold;
          @media screen and (max-width: 576px) {
            font-size: 32px;
            font-weight: bold;
          }
        }
        .featuresWrapper {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          .feature {
            display: flex;
            flex-direction: column;
            font-weight: normal;
            gap: 0px;
            .value {
              font-weight: bold;
            }
          }
          @media screen and (max-width: 576px) {
            grid-template-columns: 1fr 1fr;

            h2 {
              font-size: 24px;
              font-weight: bold;
            }
          }
        }
      }
      .caracteristiques {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-weight: bold;
      }
    }
    .contact {
      flex: 2;
      display: flex;

      @media screen and (max-width: 576px) {
        h2 {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
    .infos * {
      color: #002a62;

      h3 {
        color: #002a62;
      }
    }
  }
}
